.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(tomato 40%, white);
  color: white;
  font-size: small;
  font-weight: 600;
}

.badge-void {
  background: radial-gradient(tomato 40%, white);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: 18px;
  top: 10px;
}

.dot-with-cog {
  left: 463px;
  top: 20px;
}
