.icons-row {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 10px 10px;
  color: white;
}

.icons-row__last-row {
  margin-bottom: 10px;
}

.icons-row__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid tomato;
}

.btn-icon {
  width: 90px;
  height: 120px;
  justify-self: center;
  align-items: center;
}

.icons-row__icon i {
  font-size: 30px;
  padding: 15px 0;
}

.btn-icon i {
  display: block;
  width: 70px;
  height: 70px;
  padding: 0;
  border: 1px solid tomato;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: var(--yellow);
  line-height: 70px;
}

.icons-row__icon span {
  display: flex;
  flex-direction: column;
}
