.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: flex;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 1px solid salmon;
  border-radius: 20px;
  color: #2f363e;
  position: relative;
}

.nav__notification-number {
  position: absolute;
  right: 27px;
  top: 6px;
}
