.nav {
  background-color: #F9F9FA;
  border: 1px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 0px;
  
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: flex;
}

.nav__link {
  color: black;
}