.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 21px 0px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: flex;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notification-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-size: small;
  font-weight: 600;
  position: absolute;
  left: 17px;
  top: -7px;
}

.nav__notification-void {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  top: -3px;
}
