.screen-header {
  z-index: 2;
  width: 100%;
  padding: 20px var(--horizontal-space);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 22px;
  background-color: white;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
}

.screen-header__icons {
  display: flex;
  justify-content: space-between;
}
.screen-header__icons span {
  margin-left: 20px;
}
