.user-component {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 7.5px 5px;
  border-radius: 20px;
  width: 443.33px;
  height: 75px;
  object-fit: cover;
}

.user-component__more {
  padding: 10px 5px;
  margin-bottom: 10px;
}

.user-component__column:first-child {
  display: flex;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 12px;
  font-weight: bold;
  color: var(--font-light-color);
  text-align: right;
}

.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 15px;
}

.user-component__avatar__xl {
  width: 70px;
  height: 70px;
}

.user-component__avatar__xs {
  width: 50px;
  height: 50px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 700;
}

.user-component__subtitle {
  width: 300px;
  font-size: 15px;
  color: var(--font-light-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-component__subtitle i {
  color: tomato;
  margin: 5px;
}

.user-component__icon {
  font-size: 50px;
  padding: 10px 0;
}

.radish {
  background-image: url(https://media.istockphoto.com/photos/red-gingham-tablecloth-on-white-vintage-background-with-copyspace-picture-id1302764044?k=20&m=1302764044&s=612x612&w=0&h=efLeVPuV28RnuQcRdB-Ly29RBwwrGc6SrzzIl8tlLL4=);
}

.avocado {
  background-image: url(https://media.istockphoto.com/photos/rustic-white-wood-table-background-with-blue-tablecloth-picture-id898946070?k=20&m=898946070&s=612x612&w=0&h=lX-jyUzyVPv8YH3b11TGfYmM-RvZM2hxBI8WutgffqI=);
}

.tomato {
  background-image: url(https://media.istockphoto.com/photos/glass-of-clean-water-with-mint-on-a-table-covered-picture-id468526174?k=20&m=468526174&s=612x612&w=0&h=DWGBBZk-qzrM4ZHiYrxJ6k4MmkSCvGWykFRDaJ49FCM=)
    no-repeat;
}

.user-component:not(.user-component__text):hover {
  border: 3px solid teal;
  transition: all 0.3s ease-out;
}

.user-component:hover .user-component__text {
  opacity: 1;
  color: black;
  font-weight: bold;
}
