.user-component {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 5px;
  margin: 2.5px 0px;
  border-radius: 20px;
  position: relative;
}

.user-component:hover {
  background: linear-gradient(45deg, rgb(150, 255, 222), rgb(240, 255, 232));
  font-family: "Bungee Spice", cursive;
  border: 5px solid dodgerblue;
  transition: all 0.3s ease-in-out;
}

.user-component__more {
  padding: 10px 5px;
  margin-bottom: 10px;
}

.user-component__column:first-child {
  display: flex;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 12px;
  font-weight: bold;
  color: var(--font-light-color);
  text-align: right;
}

.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 15px;
}

.user-component__avatar__xl {
  width: 70px;
  height: 70px;
}

.user-component__avatar__xs {
  width: 50px;
  height: 50px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 700;
}

.user-component__subtitle {
  width: 300px;
  font-size: 15px;
  color: var(--font-light-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-component__subtitle i {
  color: tomato;
  margin: 5px;
}

.user-component__icon {
  font-size: 50px;
  padding: 10px 0;
}

.radish {
  background-image: url(https://media.istockphoto.com/photos/red-gingham-tablecloth-on-white-vintage-background-with-copyspace-picture-id1302764044?k=20&m=1302764044&s=612x612&w=0&h=efLeVPuV28RnuQcRdB-Ly29RBwwrGc6SrzzIl8tlLL4=);
}

.avocado {
  background-image: url(https://media.istockphoto.com/photos/rustic-white-wood-table-background-with-blue-tablecloth-picture-id898946070?k=20&m=898946070&s=612x612&w=0&h=lX-jyUzyVPv8YH3b11TGfYmM-RvZM2hxBI8WutgffqI=);
}

.tomato {
  background-image: url(https://media.istockphoto.com/photos/glass-of-clean-water-with-mint-on-a-table-covered-picture-id468526174?k=20&m=468526174&s=612x612&w=0&h=DWGBBZk-qzrM4ZHiYrxJ6k4MmkSCvGWykFRDaJ49FCM=);
}

.radish:hover .user-component {
  border: 3px solid teal;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.user-component__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-component__text__hover {
  background: linear-gradient(
    to left,
    white,
    yellowgreen,
    teal,
    teal,
    yellowgreen,
    white
  );
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  position: absolute;
  text-align: center;
  line-height: 70px;
  margin: 2.5px 5px;
  font-family: "Bungee Spice", cursive;
  font-size: 35px;
  opacity: 0;
  z-index: 1;
  border-radius: 20px;
}

.user-component__text__hover:hover {
  opacity: 1;
  transition: all 0.3s ease-in;
}
