main {
  padding: 20px;
}

#bubble {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  background-color: dodgerblue;
  border-radius: 15px;
  color: mintcream;
}

#bubble::before {
  display: block;
  position: absolute;
  top: 0px;
  left: -5px;
  z-index: -1;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid dodgerblue;
  transform: rotateZ(0deg) skew(30deg, 0deg);
}

#bubble2 {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  background-color: dodgerblue;
  border-radius: 15px;
  color: mintcream;
}

#bubble2::before {
  display: block;
  position: absolute;
  top: 0px;
  left: -6px;
  z-index: -1;
  content: "";
  width: 15px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: dodgerblue;
  transform: skewX(20deg);
}
