@import "reset.css";
@import "variables.css";

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fredoka+One&family=Kalam:wght@300;400;700&family=Mitr:wght@200;300;400;500;600;700&family=Open+Sans:wght@400;600;700&family=Permanent+Marker&family=Rubik+Dirt&display=swap");

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/openchat-component.css";
@import "components/icons-row.css";
@import "components/icons-animation.css";
@import "components/settings-lists.css";

/* Screen */
@import "screen/welcome.css";
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  background-color: black;

  /* linear-gradient(to right, rgb(197, 245, 255), rgb(255, 255, 184)); */
}

.main-screen {
  padding: 0 var(--horizontal-space);
  height: 1000vh;
}

p {
  display: block;
  z-index: -3;
  padding: 20px;
}

#void1 {
  height: 110px;
}

#void2 {
  height: 80px;
}

@keyframes glittering {
  0% {
    background: linear-gradient(
      45deg,
      black,
      indigo,
      rebeccapurple,
      rgb(150, 102, 198),
      rgb(196, 162, 229),
      rgb(238, 221, 255)
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      black,
      indigo,
      rebeccapurple,
      rgb(150, 102, 198),
      rgb(196, 162, 229),
      rgb(238, 221, 255),
      rgb(238, 221, 255),
      rgb(196, 162, 229),
      rgb(150, 102, 198),
      rebeccapurple,
      indigo,
      black
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      rgb(238, 221, 255),
      rgb(196, 162, 229),
      rgb(150, 102, 198),
      rebeccapurple,
      indigo,
      black
    );
  }
}

@keyframes twinkle-twinkle {
}

@keyframes bubble-bubble {
}
