@import "reset.css";
@import "variables.css";

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mitr:wght@200;300;400;500;600;700&family=Open+Sans:wght@400;600;700&family=Permanent+Marker&display=swap");

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/openchat-component.css";
@import "components/icons-row.css";
@import "components/settings-lists.css";

/* Screen */
@import "screen/welcome.css";
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}

.main-screen {
  padding: 0 var(--horizontal-space);
  height: 1000vh;
}

p {
  display: block;
  z-index: -3;
  padding: 20px;
}

#void1 {
  height: 95px;
}

#void2 {
  height: 45px;
}
