.search-bar {
  position: fixed;
  top: 102px;
  left: 19px;
  z-index: 1;
  width: 92%;
  border-radius: 30px;
  font-weight: bold;
  color: var(--font-light);
  background-color: white;
  box-shadow: 0 2px 30px var(--font-light);
}

.search-bar__input {
  width: 90%;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
}

.search-bar__input::placeholder {
  color: var(--font-light);
}

.search-bar__input:focus {
  outline: none;
}

.search-bar span > i {
  font-size: 20px;
}
