@import "reset.css";

:root {
  --font-light: rgba(153, 153, 153, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 100px;
  background-color: #949494;
}

.main-screen {
  position: relative;
  width: 400px;
  height: 900px;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 20px;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.artist__avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 10px 0;
  box-shadow: 0px 10px 20px #222;
}

.artist__info {
  margin: 30px 0;
  text-align: center;
}

.artist__info h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.artist__info h5 {
  font-size: 15px;
  font-weight: bold;
  color: var(--font-light);
  margin: 0 auto;
}

.artist__buttons {
  display: flex;
  margin: 10px 0;
  font-weight: bold;
}
.artist__buttons-shuffle {
  width: 130px;
  padding: 15px 0;
  border-radius: 50px;
  color: white;
  text-align: center;
  margin: 0 10px;
  background-color: #222;
  box-shadow: 0px 10px 20px #222;
}

.artist__buttons-likes {
  width: 130px;
  padding: 15px 0;
  border-radius: 50px;
  color: #222;
  margin: 0 10px;
  text-align: center;
  box-shadow: 0px 10px 20px #222;
}

.artist__buttons-likes i {
  color: dodgerblue;
  margin-right: 10px;
}

.music-lists {
  position: absolute;
  left: 15px;
  width: 370px;
  height: 400px;
  padding: 10px;
  margin: 30px 0;
  overflow-y: scroll;
}

.music-lists::-webkit-scrollbar {
  width: 1px;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

.music-component {
  margin: 10px 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.music-component:nth-child(4) {
  box-shadow: 0px 0px 10px rgba(153, 153, 153, 0.5);
}

.music-component__column {
  display: flex;
  position: relative;
}

.music-component__column:first-child::before {
  content: "♪♬";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 2;
}

.music-component:hover .music-component__column:first-child::before {
  opacity: 0;
}

.music-component__column:last-child {
  justify-content: center;
  align-items: center;
  color: var(--font-light);
}

.music-component__album-img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-right: 15px;
}

.music-component__album-img .music-component__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.music-component__text h5 {
  font-size: 15px;
  font-weight: bold;
  color: var(--font-light);
}

.music-component__text h3 {
  font-size: 20px;
  font-weight: bold;
}

.control-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 360px;
  height: 80px;
  background-color: #222;
  color: white;
  border-radius: 40px;
  box-shadow: 0px 10px 20px #222;
}

.control-box__column:first-child {
  padding-left: 30px;
}

.control-box__column:last-child {
  padding-right: 30px;
}

.control-box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-box__text h5 {
  font-size: 14px;
  font-weight: bold;
  color: var(--font-light);
  margin-bottom: 7px;
}

.control-box__text h2 {
  font-size: 19px;
  font-weight: bold;
}

.control-box__console {
  display: flex;
  align-items: center;
}

.control-box__console span {
  font-size: 15px;
}

.control-box__console span:nth-child(2) {
  font-size: 30px;
  margin: 0 30px;
}

.playing-now {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  margin-top: 30px;
}

.playing-now__album-img {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  border-radius: 30px;
  box-shadow: 0px 20px 30px saddlebrown;
}

.playing-now__info {
  margin: 40px 0px;
  text-align: center;
  font-weight: bold;
}

.playing-now__info h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.playing-now__info h6 {
  font-size: 15px;
  color: var(--font-light);
}

.playing-now__time-bar {
  margin-bottom: 30px;
}

.playing-now__time-bar p {
  display: flex;
  justify-content: space-between;
  width: 320px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(153, 153, 153, 0.3);
}

.time-bar__background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4px;
  margin: 15px 0px;
  border-radius: 2px;
  background-color: rgba(153, 153, 153, 0.3);
}

.time-bar__bar {
  width: 50%;
  height: 4px;
  background-color: black;
}

.time-bar__pointer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.playing-now__control-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}

.playing-now__control-box span:nth-child(2n-1) {
  font-size: 20px;
  color: rgba(153, 153, 153, 0.3);
}

.playing-now__control-box span:nth-child(2n) {
  font-size: 30px;
}

.playing-now__control-box span:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  background-color: #222;
  box-shadow: 0px 5px 12px black;
}
