.find__section {
  box-sizing: border-box;
  padding: 20px 0;
  border-top: 1px solid var(--horizontal-line-color);
}

.find__section__header {
  font-size: 13px;
  color: var(--font-light-color);
  font-weight: bold;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.find__section__content {
  font-size: 15px;
  color: var(--font-light-color);
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#empty {
  display: block;
  height: 150px;
  line-height: 150px;
}
