.friends-display-link {
  background-color: #fafafa;
  position: absolute;
  top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  font-size: 14px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.friends-display-link span {
  margin: 0px 10px 0px 5px;
}

.friends-display-link i {
  color: rgba(0, 0, 0, 0.15);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.list {
  margin: 10px 0px;
}

.dividers {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 15px 0px;
}

.list__header {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.list__data {
  padding: 15px 0px;
}
